My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        -20
      ],
      "id": "2d1c825e-6123-4ca2-998a-3ac55f9f78b9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Interests: technology, India, space, education\n\nHere is a list of news article headlines:\n\n{{ $json[\"title\"] }}\n\nPlease rank and summarize the top 10 stories based on user interest. Return the output strictly in this JSON format:\n\n{\n  \"top_news\": [\n    {\n      \"rank\": 1,\n      \"title\": \"string\",\n      \"summary\": \"string\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        900,
        -20
      ],
      "id": "610f2379-3353-409b-b631-bb7d802b90eb",
      "name": "AI Agent",
      "retryOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://timesofindia.indiatimes.com/rssfeedstopstories.cms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "azureOpenAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -20
      ],
      "id": "c571f651-0414-4736-9db4-f798683aebe8",
      "name": "HTTP Request",
      "credentials": {
        "azureOpenAiApi": {
          "id": "PdyKgQ4JwZnadLs5",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://timesofindia.indiatimes.com/rssfeedstopstories.cms",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        100,
        -20
      ],
      "id": "32b28fb0-0b6d-41f2-b50b-74e8bd3e5859",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dade470f-ccf7-4a29-bf9f-0a5f2657c380",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        -20
      ],
      "id": "909830d4-9c16-47be-a893-e403bd765baa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        500,
        -20
      ],
      "id": "283cb1c3-0738-49bc-a5ce-e0b3eb6812ce",
      "name": "Limit"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        700,
        -20
      ],
      "id": "f740f0c9-97ae-48c1-89ea-19009bd6cb18",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        900,
        160
      ],
      "id": "5cdd776a-a0c8-41d2-920a-3927eabdd0c3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "4iTCUswbY9fmGpUP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jiyamjacob1901@gmail.com",
        "subject": "Today's news is as follows:",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1460,
        -20
      ],
      "id": "cfbe179b-d36c-4b73-86fa-1b926e27d41a",
      "name": "Gmail",
      "webhookId": "7052df7b-faed-46f4-9ed7-198676cca556",
      "credentials": {
        "gmailOAuth2": {
          "id": "gbRa9pZ4zM6VEIPi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $json.output;\n\n// Extract JSON content using regex to isolate the {...}\nconst jsonMatch = rawOutput.match(/{[\\s\\S]*}/); // Matches first full {...} block\n\nif (!jsonMatch) {\n  throw new Error(\"No valid JSON object found in output\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]); // Only parse the clean JSON part\n} catch (err) {\n  throw new Error(\"Failed to parse extracted JSON: \" + err.message);\n}\n\n// Convert each news item into readable text\nconst newsItems = parsed.top_news;\nconst formattedText = newsItems.map(item => {\n  return `${item.rank}. ${item.title}\\n${item.summary}`;\n}).join('\\n\\n');\n\n// Return in a format Gmail can use\nreturn [\n  {\n    json: {\n      emailBody: formattedText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        -20
      ],
      "id": "62883b0c-0bc4-4270-bbf8-928fd10f7fcc",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81b6ae33-cfaa-496c-b6ff-a86b4accbedd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d332e0315475424861e3a9b9b4fec9c48dccb14701461680179d99bdc1fb294a"
  },
  "id": "YlSnoV8oRWL5fYiI",
  "tags": []
}